In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'gender': ['male', 'male', 'female', 'female', 'male', 'female', 'male', 'female'],
    'education_level': ['high school', 'college', 'college', 'graduate', 'high school', 'graduate', 'college', 'graduate'],
    'score': [75, 82, 88, 95, 69, 92, 78, 85]
})
df

   gender education_level  score
0    male     high school     75
1    male         college     82
2  female         college     88
3  female        graduate     95
4    male     high school     69
5  female        graduate     92
6    male         college     78
7  female        graduate     85

In [26]:
ct = pd.crosstab(df['gender'],df['education_level'],values=df['score'],aggfunc ='mean')
ct

education_level  college   graduate  high school
gender
female              88.0  90.666667          NaN
male                80.0        NaN         72.0

In [27]:
# create a crosstab table of gender and education level with normalization
ct_norm = pd.crosstab(df['gender'], df['education_level'], normalize=True,
                      margins=True)
print(ct_norm)

education_level  college  graduate  high school  All
gender
female             0.125     0.375         0.00  0.5
male               0.250     0.000         0.25  0.5
All                0.375     0.375         0.25  1.0

In [ ]:
c = pd.crosstab(df['gender'],df['education_level'],)