In [1]:
import pandas as pd

In [2]:
s=pd.Series([1,2,3,4],
            index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
s2=s.reindex(["b","d","a","c","e"])
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [9]:
s3=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
s3

0      blue
2    yellow
4    purple
dtype: object

In [14]:
import numpy as np

In [15]:
li=[1,2,3]
type(li)

list

In [17]:
x=np.array(li) #numpy -> numerical python
x

array([1, 2, 3])

In [33]:
s['a']

1

In [34]:
s2=s.reindex(["b","d","a","c","e"])
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [38]:
s3=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
s3

0      blue
2    yellow
4    purple
dtype: object

In [39]:
import numpy as np
df=pd.DataFrame(np.arange(9).reshape(3,3),
                index=["a","c","d"],
                columns=["Tim","Tom","Kate"])
df

   Tim  Tom  Kate
a    0    1     2
c    3    4     5
d    6    7     8

In [51]:
names=["Kate","Tim","Tom"]
df.reindex(columns=names)

   Kate  Tim  Tom
a     2    0    1
c     5    3    4
d     8    6    7

In [52]:
df

   Tim  Tom  Kate
a    0    1     2
c    3    4     5
d    6    7     8

In [53]:
s=pd.series(np.arrange(5),index=["a","b","c","d","e"])
s

AttributeError: module 'pandas' has no attribute 'series'

In [58]:
s1=pd.Series(np.arange(4),
             index=["a","c","d","e"])
s2=pd.Series(np.arange(5),
             index=["a","c","e","f","g"])
s1

a    0
c    1
d    2
e    3
dtype: int32

In [59]:
s2

a    0
c    1
e    2
f    3
g    4
dtype: int32

In [61]:
import pandas as pd 
import numpy as np
s=pd.series(range(5),
           index=['a','b','c','d','e'])

AttributeError: module 'pandas' has no attribute 'series'

In [ ]:
df1=s